<% content_for :title, "#{@script.title}#{@script.extension}" %>
<% content_for :filename, @script.title %>
<div class="row">
  <div class="col-md-12">
    <div id="editor" class="unloaded" data-authenticity-token="<%= form_authenticity_token %>" data-update-url="<%= script_path(@script, format: :json) %>" data-content-url="<%= @script.content_url %>" data-language="<%= @script.language %>"></div>
  </div>
</div>
