<div class="row">
  <div class="col-md-9">
    <pre id="editor" style="display:none;">
BPS = 0.8
BEAT = 1.0 / BPS

# Required
window.playScore( BPS,
[
[ new Beep(36, 0.3, 2 * BEAT, 1 * BEAT) , new Beep(43, 0.2, 2 * BEAT, 1 * BEAT) ]
[]
[ new Beep(36, 0.3, 2 * BEAT, 1 * BEAT) , new Beep(41, 0.2, 2 * BEAT, 1 * BEAT) ]
[]
[ new Beep(36, 0.3, 1 * BEAT, 1/2 * BEAT) ]
]
)</pre>
  </div>
  <div class="col-md-3">
    <h4>library <small>(<span class="lib-count">0</span>)</small></h4>
    <ul class="library-list nav nav-pills nav-stacked">
    </ul>
  </div>
</div>
