<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Top Files
      </h3>
      <ul>
        <%= render Script.all %>
      </ul>
    </div>
  </div>

  <% if user_signed_in? %>
  <div class="row">
    <div class="col-md-12">
      <h3>
        Your Files
        <div class="pull-right">
          <%= link_to "New", new_script_path, class: "btn btn-default" %>
        </div>
      </h3>

      <ul>
        <%= render current_user.scripts %>
      </ul>
    </div>
  </div>
  <% end %>
</div>
