/*
 *= require cyborg
 *= require devise_bootstrap_views_less
 */

@import "cyborg/variables";

body {
  padding-top: 65px;
  overflow: hidden;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.navbar-back-btn {
  margin-right: 25px;
  padding-right: 25px;
  padding-left: 14px;
  border-radius: 0;
  border-right: 1px solid @gray;
}

#editor {
  opacity: 1;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
  position: relative;
  height: 140px;
}

#editor.unloaded {
  opacity: 0;
  pointer-events: none;
}

#editor.blur {
  opacity: 0.4;
}

.ace_scrollbar {
  display: none !important;
}

span.current-file {
  color: @text-color;
}

.profile-form-hint {
  color: @gray-lighter;
}

#slow-load-notice {
  display: none;
}
