<div class="row">
  <div class="col-md-6 col-md-push-3" style="padding-top: 30px;">
    <h3> Settings </h3>

    <%= simple_form_for(@user, url: edit_profile_path, method: :put, wrapper: :vertical_form) do |f| %>
      <%= f.input :keyboard, collection: ["Default", "Vim", "Emacs"], selected: @user.keyboard.titleize %>
      <%= f.button :submit, class: 'btn-primary' %>
    <% end %>
  </div>
</div>
